.header {
    /* TAMAÑO DE HEADER Y COLOR*/
    background-color: rgb(180, 176, 176);
    width: 620px;
    height: 300px;
    
    /* CENTRADO DE TEXTO */
    display: flex;
    flex-direction: column;
    justify-content: center;
}